.login-section {
  display: flex;
  flex-flow: column;
  align-items: center;

  .formulario {
    display: flex;
    justify-content: center;
    padding: 2rem 1.6rem;
    @include media(600px) {
      width: 100%;
    }

    &__form {
      border-radius: 1rem;
      background-color: $off-white;
      display: flex;
      flex-flow: column;
      gap: 1rem;
      padding: 2rem 3rem;
      max-width: 100%;
      width: 100%;

      @include media(600px) {
        margin: auto;
        padding: 1rem 2rem;
        gap: 2.2rem;
      }
    }

    &__campos {
      display: flex;
      gap: 3rem;

      @include media(600px) {
        flex-flow: column;
        gap: 1rem;
      }
    }

    &__campo {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 0.6rem;

      &-input {
        border: 0;
        width: 100%;
        padding: 0.6rem;
      }
    }

    &__botao {
      border: 0;
      background-color: white;
      padding: 0.6rem;
      border-radius: 0.8rem;
      cursor: pointer;
    }
  }
}
