.formulario {
    display: flex;
    justify-content: center; 
    padding: 2rem 1.6rem;  

    &__form {
        border-radius: 1rem ;
        background-color: $off-white;
        display: flex;
        flex-flow: column;
        gap: 1rem;
        padding: 2rem 3rem;
    }

    &__campos {
        display: flex;
        gap: 3rem;
    }

    &__campo {
        display: flex;
        flex-flow: column;
        align-items: center;

        &-input {
            border: 0;
            width: 100%;
            padding: 0.6rem;
        }
    }

    &__botao {
        border: 0;
        background-color: white;
        padding: 0.6rem;
        border-radius: 0.8rem;
        cursor: pointer;
    }
}