{% extends 'core/base.html' %} {% load static %} {% block body %} 

{% if messages %}
    {% for message in messages %}
        <div class="messages {{ message.tags }}">
            <p class="{{ message.tags }}">{{ message }}</p>
        </div>
    {% endfor %}
{% endif %}

<h2>Adicione um novo prato/lanche ao seu estabelecimento</h2>

<form action="{% url 'adicionar_pratos' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="prato">Nome do prato</label>
        <input name="prato" type="text" placeholder="Nome do prato" required>
    </div>
    <div>
        <label for="preco">Preço</label>
        <input name="preco" type="number" step="0.01" placeholder="Preço">
    </div>
    <div>
        <label for="ingredientes">Ingredientes</label>
        <input name="ingredientes" type="text" placeholder="Ingredientes">
    </div>
    <div>
        <label for="imagem">Selecione uma imagem para seu prato</label>
        <input name="imagem" type="file" accept="image/*">
    </div>

    <button type="submit">Adicionar prato</button>
</form>

{% for prato in pratos %}
    <div style="display: flex; flex-flow: column;">
        <p>{{ prato.nome }}</p>
        <p>{{ prato.preco }}</p>
        <img src="{{ prato.imagem.url }}" alt="imagem do {{ prato.nome }}" style="width: 100px; height: 100px;">
        <a href="{% url 'remover_prato' id_prato=prato.id %}">Remover prato</a>
    </div>
{% endfor%}

{% endblock %}
