{% extends 'core/base.html' %} {% load static %} {% block body %}

<h1>Estabelecimentos atendidos pela Prato Servido &trade;</h1>

{% for estabelecimento in estabelecimentos %}

<div>
  <a href="{% url 'cardapio' estabelecimento.slug %}">
    <img
      src="{{ estabelecimento.logo.url }}"
      alt="Logo da {{ estabelecimento.nome }}"
      style="width: 120px; height: 120px"
    />
    <p>{{ estabelecimento.nome }}</p>
  </a>

  {% if estabelecimento.telefone != None %}
    <p>{{ estabelecimento.telefone }}</p>
  {% endif %} 
  
  {% if estabelecimento.endereco != None %}
    <p>{{ estabelecimento.endereco }}</p>
  {% endif %} 
  
  {% if estabelecimento.descricao != None %}
    <p>{{ estabelecimento.descricao }}</p>
  {% endif %}
</div>

{% endfor %} {% endblock %}
