{% extends 'core/base.html' %} {% load static %} {% block body %}

<h1>Estabelecimentos atendidos pela Prato Servido &trade;</h1>

{% for estabelecimento in estabelecimentos %}

<div>
  <a href="{% url 'cardapio' estabelecimento.slug %}">
    <img
      src="{{ estabelecimento.logo.url }}"
      alt="Logo da {{ estabelecimento.nome }}"
    />
    <p>{{ estabelecimento.nome }}</p>
  </a>
  <p>{{ estabelecimento.telefone }}</p>
  <p>{{ estabelecimento.descricao }}</p>
</div>

{% endfor %} {% endblock %}
