{% extends 'core/base.html' %} {% load static %} {% block body %}
<main>
  <header>
    <nav><a href="{% url 'fazer_login' %}">Login</a></nav>
    <nav><a href="{% url 'criar_conta' %}">Cadastrar-se</a></nav>
  </header>
  <section>
    <div class="hero">
      <h1>Conheça o serviço <strong>Prato Servido &trade;</strong></h1>
      <p>
        Gerencie os pedidos de seu negócio com mais agilidade com nosso sistema
        integrado ao Whatsapp e tenha mais lucros em seu estabelecimento!
      </p>
    </div>
  </section>

  <section>
    <div class="vantagens">
      <h2>Porque usar o Prato Servido &trade;?</h2>
      <ul>
        <li>
          <strong>Comodidade:</strong> Deixe o atendimento aos clientes
          totalmente automatizado
        </li>
        <li>
          <strong>É simples:</strong> Para usar nosso serviço, basta apenas
          integrar o WhatsApp do estabelecimento e começar a usar
        </li>
        <li>
          <strong>Mais lucros:</strong> Não perca clientes por demora no
          atendimento com nosso serviço em tempo real
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div class="informacoes">
      <h2>Como Funciona?</h2>
      <p>
        Veja como o Prato Servido &trade; pode transformar o atendimento do seu
        estabelecimento:
      </p>
      <ol>
        <li>
          <strong>Integração Simples:</strong> Conecte o WhatsApp do seu
          estabelecimento ao nosso sistema em poucos passos.
        </li>
        <li>
          <strong>Atendimento Personalizado:</strong> Clientes são atendidos por
          uma inteligência artificial que guia suas escolhas.
        </li>
        <li>
          <strong>Pedidos pelo Site:</strong> Ofereça aos seus clientes a
          conveniência de fazerem pedidos diretamente pelo site dedicado.
        </li>
        <li>
          <strong>Notificação Instantânea:</strong> Receba notificações em tempo
          real de novos pedidos através do painel administrativo.
        </li>
        <li>
          <strong>Atualizações em Tempo Real:</strong> Informe facilmente pelo
          painel quando os pedidos estão prontos para retirada ou entrega.
        </li>
        <li>
          <strong>Comunicação Eficiente:</strong> Mantenha seus clientes
          informados com atualizações automáticas via WhatsApp sobre o status do
          pedido.
        </li>
      </ol>
    </div>
  </section>

  <section>
    <div class="precos">
      <div>
        <h3>Pagamento Único</h3>
        <ul>
          <li>R$ XXX,00<small>/parcela única</small></li>
          <li>Pague uma vez e tenha acesso vitalício ao serviço</li>
        </ul>
      </div>
      <div>
        <h3>Assinatura</h3>
        <ul>
          <li>R$ 100,00<small>/mês</small></li>
          <li>Pagamento recorrente todos os meses</li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="contato">
      <h2>Contato</h2>
      <div>
        <p>Telefone e WhatsApp:</p>
        <a
          href="https://api.whatsapp.com/send?phone=53991486992"
          target="_blank"
          >(53) 99148-6992</a
        >
        <p>E-mail:</p>
        <a href="mailto:neitzkerudilberto@gmail.com" target="_blank"
          >neitzkerudilberto@gmail.com</a
        >
      </div>
    </div>
  </section>

  <aside>
    <a href="https://api.whatsapp.com/send?phone=53991486992" target="_blank">
      <img
        class="whatsapp"
        src="{% static 'images/homepage/whatsapp-logo.png' %}"
        alt="Whatsapp logo"
      />
    </a>
  </aside>
</main>

{% endblock %}
