{% extends 'core/base.html' %} {% load static %}

{% block head %}<script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>{% endblock %}

{% block body %}

<header>
  <h1>{{ estabelecimento.nome }}</h1>
  <a href="{% url 'gerenciar_pratos' %}">Adicionar pratos</a>
  <a href="{% url 'informacoes_estabelecimento' %}"
  >Informações do estabelecimento</a
  >
  <a href="{% url 'fazer_logout' %}">Sair</a>
</header>

<main id="cartao-pedido" hx-get="{% url 'cartao_pedidos' %}" hx-trigger="load">
  {% include 'administracao/cartao_pedidos.html' %}
</main>

{% endblock %}
